#tabla{
    background-color: rgb(212, 154, 154);
    border: rgb(143, 48, 48) solid 3px;
    margin: 100px auto;
    width: 300px;
    height: fit-content;
}
#databaseform{
    display: grid;
    width: 200px;
    margin: auto;
}
input{
    margin: 3px auto;
}

#listado{
    background-color: rgb(212, 154, 154);
    border: rgb(143, 48, 48) solid 3px;
    margin: 100px auto;
    width: 600px;
    height: fit-content;
}

